.gradle/**
.idea/**
*.iml
**/*.iml
**/.gradle/**
**/.idea/**
**/*.iml
**/app/*.iml
firebase/app/app.iml
.gitignore.swp
ui-elements-runtime/app/app.iml
recyclerview/app/app.iml
firebase/app/app.iml
search/app/app.iml
.idea/encodings.xml
.idea/markdown-navigator.xml
.idea/markdown-navigator/profiles_settings.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.gradle/5.1.1/executionHistory/executionHistory.bin
.idea/libraries/Gradle__com_android_support_appcompat_v7_28_0_0_aar.xml
android-tutorial.iml
local.properties
**/local.properties
recyclerview/local.properties
search/local.properties
firebase/local.properties
firebase-search/local.properties
